 @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

$default-font: 'PT Sans', sans-serif;

/* Font Size
-------------------------------*/
.fsize11 { font-size: 11px !important; }
.fsize12 { font-size: 12px !important; }
.fsize13 { font-size: 13px !important; }
.fsize14 { font-size: 14px !important; }
.fsize15 { font-size: 15px !important; }
.fsize16 { font-size: 16px !important; }
.fsize17 { font-size: 17px !important; }
.fsize18 { font-size: 18px !important; }
.fsize20 { font-size: 20px !important; }
.fsize22 { font-size: 22px !important; }
.fsize24 { font-size: 24px !important; }
.fsize26 { font-size: 26px !important; }
.fsize28 { font-size: 28px !important; }
.fsize30 { font-size: 30px !important; }
.fsize32 { font-size: 32px !important; }
.fsize36 { font-size: 36px !important; }
.fsize48 { font-size: 48px !important; }
.fsize60 { font-size: 60px !important; }
.fsize80 { font-size: 80px !important; }
.fsize100 { font-size: 100px !important; }
