

//colors
$red: #D53C32;
$red-dark: #aa3028;
$brown: #442F20;
$blue: #3492C8;
$green: #71A959;
$orange: #F79A43;
$black-font: #333;
$gray: #858c97;
$yellow:	#fd9b45;

//fonts
$default-font-color: #442F20;
