
.page-id-55{
	h2{
		font-size: 28px;
	}
}


#team-masonry{
	.team-card{
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 20px;
		padding: 30px;
		p{
			color: #69584C;
		}

		.card-img{
			margin-bottom: 20px;
		}
		.card-content{
			// flex: 1 100%;
			// transition: all 2s;
			.card-title{
				font-size: 24px!important;
				color: $black-font!important;
				padding: 0!important;
				margin-bottom: 15px!important;
			}
			.card-position{
				font-size: 16px!important;
			}

			.default{
				display: block;
				img{
					margin-bottom: 27px;
				}
			}
			.active{
				display: none;
			}
		}
		&:hover,
		&.active{
			box-shadow: 0 0 40px rgba(0,0,0,.2);
			transition: all 1s;
			.card-content{
				.default{
					display: none;
				}
				.active{

					display: block;
				}
			}
		}
		.profile-social-icons{
			a{
				margin-right: 10px;
				font-size: 19px!important;
			}
		}
	}	
}

@media(max-width:544px){
	.team-section{
		.code-row{
			padding: 0;
		}
	}
	#team-masonry{
		.team-card{
			padding: 0;
			&.active{
				box-shadow: none;
			}
			.card-content{
				display: flex;
				align-items: center;
				min-height: 300px;
				padding: 0 30px;
			}
		}
	}
}

@media(min-width:768px){
	#team-masonry{
		display: flex;
		flex-direction: column;
		
		.team-card{
			flex-direction: row;
			margin-bottom: 20px;
			padding: 0;
			
			p{
				font-size: 16px;
				line-height: 24px;
			}
			.card-img{
				flex: 1 50%;
				margin-bottom: 0;
				display: flex;

			}
			.card-content{
				flex: 1 50%;
				padding-left: 40px;
				padding-right: 40px;
				display: flex;
				justify-content: center;
				.default{
					img{
						height: 49px;
					}
					
				}
			}
			&.even{
				.card-img{
					order: 2;
					justify-content: flex-end;
				}
			}
			&:hover,
			&.active{

				.card-img{
					//padding: 10px;
					
				}
			}
			&:last-child.odd{
				width: 100%;
				flex: none;
			}
		}
	}//team-mansory
	
	
}//close 768px

@media(min-width:981px){
	.page-id-55{
		h2{
			font-size: 40px;
			font-weight: bold!important;
			margin-bottom: 40px;
		}
	}

	.about-introduction{
		.et_pb_row{
			&.row-intro{
				display: flex;
				align-items: center;
				.et_pb_column{
					&.intro-text{
						margin-right: 80px;
						flex: 1 55%;
					}
					&.intro-image{
						flex: 1 45%;
					}
				}
			}
		}
		p{
			font-size: 22px;
			font-weight: 300;
			line-height: 40px;
		}
	}

	#team-masonry{
		.team-card{
			p{
				font-size: 18px;
			}
			&.odd{
				.card-content{
					padding-left: 0;
				}
			}
		}
	}//team-mansory
}

@media(min-width:1280px){
	//PROFILES CARDS
	#team-masonry{
		flex-direction: row;
		flex-wrap: wrap;
		.team-card{
			flex: 1 50%;
			margin-bottom: 0;
			p{
				font-size: 16px;
				line-height: 24px;
			}
			.card-img{
				height: 292px;
				position:relative;
				&:before{
					position: absolute;
					content: '';
					top: 50%;
					width: 0;
					height: 0;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					
				}
				&:after{
					position: absolute;
				    content: '';
				    border: 10px solid transparent;
				    width: 93.2%;
				    height: 93.2%;
				}

			}
			.card-content{
				padding-left: 30px;
				padding-right: 30px;
				justify-content: flex-start;

				
			}
			&.odd{
				.card-content{
					padding-left: 30px;
				}
			}
			
			&.row-odd{
				.card-img{
					order: 2;
					&:before{
						left:0;
						border-left: 10px solid white;
					}
				}

			}
			&.row-even{
				.card-img{
					order: 0;
					&:before{
						right:0;
						border-right: 10px solid white;
					}
				}
			}

			&:last-child.odd{
				width: 50%;
			}

			&:hover,
			&.active{
				.card-img{
					&:after{
					    border: 10px solid white;
					}
				}
				&.row-odd{
					.card-img{
						&:before{
							left:8px;
						}
					}

				}
				&.row-even{
					.card-img{
						&:before{
							right:8px;
						}
					}
				} 
			}//hover or active card


			// &:nth-child(1),
			// &:nth-child(2){
			// 	height: 292px;
			// 	align-items: flex-start;
			// 	.card-content{
			// 		display: flex;
			// 		flex-direction: column;
			// 	    overflow: hidden;
				    
			// 	    padding-top: 50px;

			// 	    /* justify-content: flex-end; */
				    
			// 		.default,
			// 		.active{
			// 		    // padding-top: 50px;
					    
			// 		}
			// 		.default{
			// 			display: block;
			// 			opacity: 1;
			// 			transition: 0.3s;
			// 			margin-bottom: 300px;
			// 			// img{
			// 			// 	padding-top: 80px;
			// 			// }
						
			// 		}
			// 		.active{
			// 			display: block;
			// 			opacity: 0;
			// 		}

			// 	}
			// 	&:hover,
			// 	&.active{
			// 		.card-content{
						
			// 			padding-top: 0;
			// 			.default{
			// 				display: block;
			// 				opacity: 0;
			// 				margin-top: -5em;
			// 				margin-bottom: 0;
			// 			}
			// 			.active{
			// 				display: block;
			// 				opacity: 1;
			// 			}
			// 		}
			// 		z-index: active;

			// 		.card-img{
			// 			&:after{
			// 			    border: none!important;
			// 			}
			// 		}
					
			// 		&.row-odd{
			// 			.card-img{
			// 				&:before{
			// 					left:0;
			// 				}
			// 			}

			// 		}
			// 	}
			// }//item 1 and 2
		}
	}//team-mansory
}


