#main-content .container::before {
	display: none;
}

#left-area{
		width: 67%;
	}
	#sidebar{
		width: 33%;
	}

.blog,
.category{
	
	.entry-title{
		color: $black-font;
		line-height: 48px;
	}
	@media(min-width:981px){
		.entry-title{
			font-size: 44px;
		}
	}
}


.single-post {
	.container {
		max-width: 920px;
	}
	.hero-heading {
		min-height: 450px;
		overflow: hidden;
		position: relative;
		color: white;
		background: linear-gradient(to bottom right,#13385E,#527088);
		> .image-wrapper {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			img {
				min-width: 100%;
			    min-height: 100%;
			    width: auto;
			    height: auto;
			    max-width: none;
			}
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: linear-gradient(to bottom right,#13385E,#527088);
				opacity: .6; 
			}
		}
		.entry-title {
			color: white;
			font-size: 52px;
			@media (max-width:980px) {
				font-size: 2.2em !important;
			}
		}
		.container {
			padding-top: 135px !important;
		}
	}
	.post-meta {
		display: table;
		vertical-align: middle;
		.avatar-wrapper, .meta-info {
			display: table-cell;
			vertical-align: middle;
			.avatar {
				width: 50px;
				height: 50px;
				background-size: cover;
				border-radius: 50%;
			}
		}
	}
	.et_pb_post .entry-content {
		// Yes, i know it seems weird having the tags directly :'(
		a {
			font-style: italic;
		}
		h2 {
			margin: 30px 0;
			padding-bottom: 0;
		}
		ul {
		  list-style: none;
		  padding: 0;
		  margin: 0;
			li {
				padding-left: 25px;
				position: relative;
				margin-bottom: 20px;
				&:before {
				  content: "•";
				  color: $gray;
				  position: absolute;
				  left: 0;
				}
			}
		}
		blockquote {
			border: none;
			padding: 0;
			font-size: 1.5em;
			font-weight: 300;
			position: relative;
			p:last-of-type:not(:only-of-type) {
				font-size: 0.6em;
				font-weight: 600;
				margin: 20px 0;
				&:before {
					content: "- ";
				}
			}
			&:before {
				content: "\"";
				position: absolute;
				left: -140px;
				top: 0;
				padding-top: 60px;
				font-size: 7em;
				font-weight: bold;
			    font-family: sans-serif;
			    font-style: italic;
			    color: $yellow;
			    @media (max-width:1200px){
					content: none;
			    }
			}
		}
	}
	.share-bar {
		margin-top: 40px;
		.et-social-icons {
			float: none;
			.et-social-icon .icon{
				border: 2px lighten($gray, 15%) solid;
			    border-radius: 50%;
			    padding: 5px;
			    padding-top: 9px;
			    height: 45px;
			    width: 45px;
			    vertical-align: middle;
		        font-size: 21px;
			    &:before {
			    	color: lighten($gray, 15%);
			    }
			}
		}
	}
	.post-card {
		border: 1px lighten($gray, 35%) solid;
		.card-content {
			flex-grow: 1;
			padding: 30px;
			.card-more-button {
				align-self: flex-end;
			}
		}
	}
}