

.page-id-2236{
	// .et_pb_row{
	// 	width: 100%;
	// }

	.title{
		font-size: 44px;
		@media(min-width:1280px){
			font-size: 55px;
		}
	}
	#top-menu{
		li{
			display: none;
			&.menu-item-92,
			&.menu-item-91,
			&.menu-item-90{
				display: inline-block;
			}
		}
	}
	.header-section{
		.et_pb_row{
			width: 100%;
		}
		@media(max-width:767px){
			.et_pb_section_video_bg{
				display: none;
			}
		}
		@media(min-width: 1280px){
			min-height:820px;
		}
		.mejs-mediaelement{
			z-index: 1;
		}
	}
	#intro-section{
		@media(max-width:981px){
			background-image: none!important;
		}
		@media(min-width:1199px){
			min-height: 840px;
		}
	}
	.sketch-prototype-row{
		width: 100%;
		padding: 30px 15px;
		h2{
			padding-top: 30px;
			font-size: 28px;
			line-height: 33px;
			font-weight: 900!important;
		}
		@media(min-width:981px){
			padding-left:20px;
			padding-top: 0!important;
			h2{
				font-size: 35px;
				line-height: 40px;
			}
			.et_pb_column{
				&:first-child{
					padding-top: 15px;
				}
			}
		}
		@media(min-width:1280px){
			h2{
				font-size: 48px;
				line-height: 61px;
			}
			.et_pb_column{
				&:first-child{
					padding-top: 40px;
				}
			}
		}
		@media(min-width:1600px){
			h2{
				font-size: 55px;
			}
		}
	}

	.row-advantages{
		@media(max-width:981px){
			.et_pb_column{
				width: 100%;
			}
		}
		@media(min-width:981px){
			.et_pb_blurb{
				min-height: 500px;	
			}
		}
	}

	.secondary-video{
		.mejs-mediaelement{
			position: fixed;
		}
	}
	
	.how-it-works-column{
		display: flex;
		.et_pb_blurb{
			flex: 1 100%;
			margin-bottom: 30px!important;
			margin-top: 0!important;
			&:last-child{

			}
			.et_pb_blurb_content{
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
				&:before{
					position: absolute;
					width: 100%;
					height: 3px;
					background: #DA5047;
					content: '';
					top: 30%;
				}
				.et_pb_main_blurb_image{
					width: 120px;
					height: 120px;
					border-radius: 50%;
					border: 1px solid #D8D8D8;
					padding-top: 30px;
					position: relative;
					background: white;
				}
				.et_pb_blurb_container{
					h4{
						min-height: 55px;
						padding: 0 5px;
					}
				}
				@media(max-width: 1199px){
					.et_pb_main_blurb_image{
						width: 100px;
						height: 100px;
						img{
							width: 50%;
						}
					}
					.et_pb_blurb_container{
						h4{
							font-size: 16px;
						}
					}
				}
				@media(max-width:767px){
					&:before{
						top: 25%;
					}
					.et_pb_main_blurb_image{
						width: 70px;
						height: 70px;
						padding-top: 20px;
						img{
							width: 50%;
						}
					}
					.et_pb_blurb_container{
						h4{
							font-size: 14px;
						}
					}
				}
			}//blurb-content
		}
	}
	
	.section-contact-form{
		
	}
	
	footer{
		@media(min-width:981px){
			padding-top: 133px;	
		}
	}
}

.section-contact-form{

	.contact-form{
		box-shadow: none;
		.contact-fields{
			.header{
				h2{
					margin-top: 25px;
					text-align: center;
				}
				p{
					font-size: 20px;
					text-align: center;
				}
			}
			.list-advantages{
				margin: 0;
				display: flex;
				justify-content: space-around;
				margin-bottom: 45px;
				padding: 0;
				li{
					list-style: none;
					margin-right: 10px;
					&:last-child{
						margin-right: 0;
					}
					img{
						display: block;
						margin: auto;
						margin-bottom: 25px;
					}
					span{
						display: block;
						font-size: 18px;
						font-weight: 500;
						text-align: center;
					}
				}
				@media(max-width:576px){
					li{
						span{
							font-size: 16px;
						}
					}
				}
			}
			input[type="submit"]{
				position: relative;
				right: auto;
				bottom: 0;
				width: 100%;
			}
			@media(max-width:980px){
				.wpcf7-form-control-wrap{
					width: 100%;
				}
			}
		}//contact-fields
		@media(min-width:768px){
			.contact-fields{
				header{
					p{
						display: none;
					}
				}
				input[type="submit"]{
					width: 236px;
				}
			}
		}
		@media(min-width:981px){
			box-shadow: 0 0 30px rgba(black, 0.20);
			margin-bottom: -170px;
		}
		@media(min-width: 1200px){
			.contact-fields{
				h2{
					font-size: 45px;
				}
				.contact-name,
				.contact-company,
				.contact-email,
				.contact-phone{
					width: 48%;
					display: inline-block;
				}
			}
		}
	}//contact-form
	form.invalid{
		input[type="submit"]{
			margin-top: 120px;
		}
		.wpcf7-validation-errors{
			color: white;
		}
	}
	@media(max-width:576px){
		.et_pb_row{
			padding: 0;
			width: 100%;
		}
	}
}