/**************************
********* Helpers **********
**************************/
.pa15 {
  padding: 15px !important;
}
.pa30 {
  padding: 30px !important;
}
.pa40 {
  padding: 40px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb5 {
  padding-bottom: 5px  !important;
}
.np {
  padding: 0    !important;
}
.npa {
  padding: 0    !important;
}
.nm {
  margin: 0    !important;
}
.mt15 {
  margin-top: 15px   !important;
}
.mb10 {
  margin-bottom: 10px   !important;
}
.mb15 {
  margin-bottom: 15px   !important;
}
.mb20 {
  margin-bottom: 20px   !important;
}
.mh30 {
  margin: 0 30px   !important;
}
.mt30{
  margin-top: 30px!important;
}

.w-100{
	width: 100%!important;
	
}



//Background color
.bgcolor-red {
	background-color: $red !important;
	color: white;
	.et_pb_button{
		background-color: $red-dark;
		border-radius: 25px;
		&:hover{
			background-color: darken($red-dark, 10%)!important;
			border-radius: 25px;
		}
	}
}

//WIDGET
.textwidget{
	@media(min-width:981px){
		h2{
			font-size: 44px;
			margin-bottom: 25px;
		}
	}
}



.text-white{
	color: white;
}

.text-center{
	text-align: center!important;
}

.text-blue{
	color: #00205c;
}

.internal-title{
  color: #442F20 !important;
  opacity: 0.30;
  font-size: 40px !important;
}

//SHARE BAR

.sticky-share-bar{
	position:fixed;
	top:200px;
	left:30px;
	font-size:25px;
	background:#fff;
	padding: 0px 20px;
	border-radius:40px;
	box-shadow: 0px 6px 30px 10px rgba(0,0,0,0.08);
	z-index: 1;
	li{
		margin:20px 0;
		a{
			color:#cccccc;
			transition: color 0.3s;
			&:hover{
				transition: color 0.3s;
			}
		}
		&.et-social-linkedin{
			a:hover{
				color:#007cb5;
			}
		}
		&.et-social-facebook{
			a:hover{
				color:#1b3299;
			}
		}
		&.et-social-twitter{
			a:hover{
				color:#2ccee0;
			}
		}	
	}
}

@media (max-width:1024px){
	.sticky-share-bar{
		left:15px;
	}
}

.show-mobile{
	display: none;
}

.show-desktop{
	display: block;
}

@media(max-width:980px){
	.show-mobile{
		display: block;
	}
	.show-desktop{
		display: none;
	}
	.row-width-desktop-100{
		width: 80%!important;
	}
}

@media (max-width:768px){
	.sticky-share-bar{
		display: none;
	}
}

@media(max-width:576px){
	.w-mobile-100{
		width: 100%;
	}
}

@media(max-width:544px){
	.row-width-desktop-100{
		width: 100%!important;
		padding: 30px 24px!important;
	}
}

.et-social-icon.et-social-mail {
	a.icon:before {
		content: "\e076";
	}
}

