
.et_pb_button{
  color: white!important;
  min-width: 180px;
  height: 55px;
  text-align: center;
  font-weight: 500;
  line-height: 45px!important;
  &.btn-large{
    min-width: 210px;
  }
  &.btn-red{
    box-shadow: 0 0 20px rgba(#D53C32, .20);
  }
  &.btn-white{
    background: white!important;
    color:#003E75!important;
    &:hover{
      background: #003E75!important;
      color: white!important;
    }
  }
  &.btn-green{
    background: $green!important;
    box-shadow: 0 0 20px rgba(#8BC643, 0.5);
    &:hover{
      background: darken($green, 10%)!important;
    }
  }
  &.btn-blue{
    background: $blue!important;
    box-shadow: 0 0 20px rgba(#138EBD, 0.5);
    &:hover{
      background: darken($blue, 10%)!important;
    }
  }
  &.btn-orange{
    background: $orange!important;
    &:hover{
      background: darken($orange, 10%)!important; 
    }
  }
  @media(max-width:980px){
    min-width: 210px;
  }
}

