footer{
  position: relative;
}

.footer-section{
  font-weight: bold;
  background: $red!important;
  padding: 0!important;
  color: white;
  text-align: center;
  padding-top: 75px!important;
  .et_pb_row{
    display: flex;
    padding: 0;
    .et_pb_column{
      margin:0;
      float: none;
      flex: 1 100%;
      &:first-child{
        text-align: left;
      }
      &:last-child{
        text-align: right;
      }
    }
  }
}

#footer-bottom{
  padding: 40px 0 55px;
  .et-social-icons{
    float: none;
    text-align: center;
    .et-social-icon{
      margin-left: 10px!important;
    }
    a{
      padding: 5px;
      border-radius: 50%;
      background: $red-dark;
      width: 35px;
      height: 35px;
      font-size: 18px;
    }
  }
}

.home{
  #main-footer{
    position: relative;
  }
}

.talk-section{
  h2{
    font-size: 30px;
  }
  &.et_pb_button{
    min-width: 240px; 
    min-height: 55px;
    
    font-weight: 500;
    font-size: 18px;
  }
}

@media(max-width:980px){
  
  .footer-section{
    .et_pb_row{
      display: flex;
      flex-direction: column;
      .footer-copyright{
        order: 3;
      }
      .et_pb_column{
        text-align: center!important;
        margin-bottom: 30px!important;
      }

    }
  }
  .section-footer-navigation-works{
    display: none;
  }
}

@media(min-width:981px){
  .section-footer-navigation-works{
    border-top: 1px solid rgba(#442F20, 0.1);
    
  }

  .footer-navigation-works{
    display: flex;
    justify-content: center;
    padding: 40px 0;
    a{
      color: #442F20;
      opacity: 0.30;
      i{
        border: 1px solid;
        border-radius: 50%;
        padding: 6px;
        margin: 0 10px;
      }
      &:hover{
        opacity: 1;
      }
    }
  }  
  .talk-section{
    h2{
      color: #442F20 !important;
      opacity: 0.30;
      font-size: 56px;
    }
    // .et_pb_button{
    //   min-width: 275px; 
    //   min-height: 70px;
      
    //   font-weight: bold;
    //   font-size: 20px;
    // }
    &.talk-button{
      line-height: 61px!important;
      min-width: 275px; 
      min-height: 70px;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .page-id-2609,
  .page-id-1735,
  .postid-2700,
  .postid-2714,
  .postid-2768{
    footer{
      padding-top: 133px;  
    }
  }
}

// @media(min-width:1200px){
//   // .home{
//   //   #main-footer{
//   //     position: absolute;
//   //     z-index: 1;
//   //     bottom: 0;
//   //     width: 100%;
//   //     display: none;
//   //     // opacity: 0;
//   //   }
//   // }
// }







