

#main-header{
	background-color: $yellow;
	.container{
		width: 90%;
	}
	.logo_container{
		top: 0;
		a{
			
			#logo{
				max-height: 100%;
			}
		}
	}
	.logo-text{
		display: none;
		h2{
			font-size: 40px;
			padding-top: 20px;
			font-weight: 600;
		}
	}
	@media(min-width:981px){
		min-height: 160px;
		z-index: 0;
		.container{
			width: 97%;
			.logo-text{
				display: block;
			}
			.logo_container{
				a{
					float: right;
				}
			}
		}
	}
}

#et-top-navigation{
	padding-left: 0!important;
	padding-top: 25px!important;
	nav{
		ul{
			li{
				padding-right: 2px;
				a{
					padding: 13px!important;
					padding-bottom: 20px!important;
					font-weight: normal;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					&:hover{
						background-color: #eeeeee;
						opacity: 1;
					}
				}
				&.last-child{
					padding-right: 0;
				}
				&.current-menu-item{
					a{
						background-color: white;
						font-weight: 600;	
					}
				}
			}
		}
	}
	@media(min-width:981px){
		float: left!important;
	}
}

.mobile_nav{
	.mobile_menu_bar{
		&:before{
			color: black;
		}
	}
	.et_mobile_menu{
		border-top: 3px solid #666;
		padding: 10px;
		li{
			a{

			}
		}
	}
}

@media(max-width:980px){
	#logo{
		display: none;
	}
}


.et_fixed_nav #main-header{
	position: absolute;
}